.modal-center-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  background-color: #ddd;
}

@media (max-width: 992px) {
  .modal-center-box {
    width: 90%;
  }
}

@media (max-width: 576px) {
  .button-font-size {
    font-size: 0.875rem;
  }
}

.form-error {
  color: #c51414;
  font-size: 0.875rem;
  padding-left: 4px;
  display: none;
}